// Utilities
body {
    font-family: $primary-font;
    background-color: $primary;
    height: 8000px;
}

// Header
#main-nav{
    height: 180px;
    background-color: white;
    @media(min-width: $md) {
    background-color: $header-bg;
    }
    .navbar-toggler{
        margin-left: 25%;
        @media(min-width: $lg) {
            margin-left: 75%;
        }
        background-color: $primary;
        .navbar-toggler-icon {
            background-image: $navbar-dark-toggler-icon-bg;
        }
    }
    #main-menu{
        @media(min-width: $xl) {
            .dropdown:hover .dropdown-menu{
                display: block;
            }
        }
        .dropdown-menu{
            background-color: $header-bg;
            &:hover{
                color: $header-link-hover;
            }
            li{
                a{
                    border-bottom-width: 0.1px;
                    border-style: solid;
                    border-color: #eaeaea;
                    padding: .9em 1em;
                    }
                } 
            }
        }
        li{
            a{
                font-size: 15px;
                color: $header-link-color;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                padding: 0 15px;
                &:hover{
                    color: $header-link-hover;
                }
            }
        }
    }