// Utilities
body {
    font-family: $primary-font;
    background-color: $primary;
    height: 8000px;
}

// Header
#main-nav{
    height: 180px;
    background-color: $header-bg;
    .navbar-toggler{
        background-color: $primary;
        // margin-left: 75%;
        .navbar-toggler-icon {
            background-image: $navbar-dark-toggler-icon-bg;
        }
    }
    .cart-icon{
        // display: none;
    }
    #main-menu{
        .dropdown:hover .dropdown-menu{
            display: block;
        }
        li{
            a{
                font-size: 15px;
                color: $header-link-color;
                font-weight: 400;
                letter-spacing: 1.5px;
                text-transform: uppercase;
                padding: 0 15px;
                &:hover{
                    color: $header-link-hover;
                }
            }
        }
    } 
}