
// Testing => Green body
.wrapper {
    background-color: $primary;
}


//Header
.navbar {
    height: 180px;
    font-size: larger;
    font-family: $primary-font;
    background-color: $header-bg;
    // position: fixed;
    // width: 100%;
    
    .nav-link {
        margin-left: 10px;
        text-transform: uppercase;
    }
}

