.wrapper {
    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logo {
            height: 250px;
            width: 250px;
            margin-bottom: 20px;

            @media(min-width: $md) {
                height: 300px;
                width: 300px;
            }
        }

        .who-holder {
            h1 {
                text-align: center;
                margin-bottom: 15px;
            }
            p {
                text-align: center;
            }
        }

        .hours-holder {
            text-align: center;
            .hours-img {
                box-shadow: 5px 3px 10px 0px rgba(0, 0, 0, 0.50);
            }

            .header {
                font-size: 25px;
                margin-bottom: 20px;
                margin-top: 10px;
                // text-align: center;
            }

            .sub-header{
                // text-align: center;
                margin-bottom: 5px;
            }

            .hours-title {}

            .hours {}

            .post-hours {
                margin-top: 5px;
            }


            .store-phone {}

        }

        .we-offer-wrapper {
            text-align: center;

            h2 {
                margin-top: 25px;
                margin-bottom: 15px;
            }

            .offer-img{
                box-shadow: 5px 3px 10px 0px rgba(0, 0, 0, 0.50);
                margin-bottom: 30px;
            }
        }

        .map-wrapper {
            iframe {
                width: 100vw;
                max-width: 100vw;
            }
        }

        .icons-wrapper {
            margin-top: 45px;
            text-align: center;
            .icon-wrapper {
                margin-bottom: 20px;
                .fas {
                    font-size: 50px;
                    color: $primary;
                    margin-bottom: 20px;
                }  
            }

        }
    }
}