.page-id-21 {
  .woocommerce-info {
    border-top-color: $primary;
    &::before {
      color: $primary;
    }
  }

  .btn {
    color: $primary;
    border-color: $primary;
    &:focus {
      box-shadow: 0 0 0 0.2rem #274d35 !important;
    }
    &:active {
      background-color: $primary !important;
      border-color: $primary !important;
    }
  }

  .woocommerce-mini-cart__buttons {
    border-style: none;
  }

  .woocommerce-column--billing-address {
    max-width: unset;
    width: 48%;
    padding-left: unset;
  }

  .woocommerce-column--shipping-address {
    max-width: unset;
    width: 48%;
    padding-left: unset;
  }

  .inspire_checkout_fields_additional_information {
    padding-left: 15px;
  }

  @media (min-width: $md) {
    .password-input {
      margin-left: 7px;
    }
  }

  .woocommerce-form-login__rememberme {
    margin-right: 7px;
  }

  .show-password-input {
    top: unset !important;
  }

  @media (min-width: $xl) {
    .show-password-input {
      top: 0.7rem !important;
    }
  }
}
