
/// use bootstrap row resp col

#wrapper-footer {
    background-color: $primary;
    color: white;

    hr {
        border-top-color: white;
    }

    .contact-holder {
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 8px;
        }

        .contact {
            text-align: center;
            padding-top: 8px;
            padding-bottom: 8px;
            @media(min-width: $lg) {
                line-height: 120px;
            }
        }
    }

    .footer-nav-holder {
        .nav-link {
            text-align: center;
            a {
                color: white;
            }
        }

    }

    .socials-holder {
        .social {
            text-align: center;
            // height: 50px;
            // width: 50px;
            font-size: 25px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            a{
                color: white;
            }
        }
    }

    .legal-holder {
        margin-top: 50px;
        a{
            color: white;
        }
    }
}