
#main-nav {
    height: 180px;
    background-color: $header-bg;

    // dropdown menu hover

    .mobile-menu-dropdown {

        button {
            // outline: none;
            &:focus {outline:none;}
        }

        .fas {
            color: $primary;
             }
    }

    #main-menu {

        .nav-link {
            padding: 0 15px;
            font-size: 15px;
            text-transform: uppercase;
            line-height: 60px;
            color: black;
            letter-spacing: 1.5px;
            &:hover {
                color: $header-link-hover;
            }
        }

        .dropdown-menu {
            background-color: $header-bg;
          
            .dropdown-item {
                border-bottom-width: 0.1px;
                border-style: solid;
                border-color: #eaeaea;
                padding: .9em 1em;
                font-size: 15px;
                text-transform: uppercase;
                color: black;
                letter-spacing: 1.5px;
                background-color: rgba(255, 255, 255, 0);
                &:hover {
                    color: $header-link-hover;
                }
            }
        }

        // mobile dropdown menu
    }
}