
// Hero img
.home-hero-banner-top {
    height: 760px;
    text-align: center;
    color: $home-header-font-color;
    letter-spacing: 1.5px;
    font-weight: 300;
    background-color: rgb(34, 64, 88);
    position: relative;
    @media(min-width:$xl) {
        height: 1080px;
    }
    #dz-carousel {
        .carousel-item {
            opacity: 0.7;
            height: 760px;
            animation: move infinite ease;
            -ms-animation: move 40s ease;
            -webkit-animation: move 40s ease;
            -o-animation: move 40s ease;
            -moz-animation: move 40s ease;
            @media(min-width:$xl) {
                height: 1080px;
            }
        }
        .slide-1 {
            height: 760px;
            background: url('../img/a1.jpg') no-repeat center fixed;     
            background-size: cover;
            @media(min-width:$xl) {
                height: 1080px;
            }
        }
        .slide-2 {
            height: 760px;
            background: url('../img/a2.jpg') no-repeat center fixed;     
            background-size: cover;
            @media(min-width:$xl) {
                height: 1080px;
            }
        }
        .slide-3 {
            height: 760px;
            background: url('../img/cta.jpg') no-repeat center fixed;     
            background-size: cover;
            @media(min-width:$xl) {
                height: 1080px;
            }
        }

        @-webkit-keyframes move {
            0% {
                -webkit-transform-origin: bottom left;
                -moz-transform-origin: bottom left;
                -ms-transform-origin: bottom left;
                -o-transform-origin: bottom left;
                transform-origin: bottom left;
                transform: scale(1.0);
                -ms-transform: scale(1.0);
                -webkit-transform: scale(1.0);
                -o-transform: scale(1.0);
                -moz-transform: scale(1.0);
            }

            100% {
                transform: scale(1.2);
                -ms-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -o-transform: scale(1.2);
                -moz-transform: scale(1.2);
            }
        }

        .carousel-caption {
            bottom: 225px;
        }
    }

    .hero-captions-holder {
        position: absolute;
        top: 300px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 999;
        @media(min-width:$xl) {
            top: 400px;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 999;
        }

        .main-title {
            font-size: 94.5px;
            line-height: 113.4px;
            padding-bottom: 95px;
        }
        .sub-title {
            font-size: 30px;
            line-height: 45px;
            padding-bottom: 20px;
        }
        hr {
            padding-top: 15px;
            padding-bottom: 18px;
            border-color: white;
        }
        .sub-2-title {
            font-size: 20px;
            font-style: italic;
            line-height: 20px;
            padding-bottom: 25px;
        }
        .sub-3-title {
            font-size: 20px;
            font-style: italic;
            line-height: 20px;
            padding-top: 20px;
        }
    
        .diamonds {
            color: white;
            font-size: 2rem;
        }
    }
}

// shop cards
.shop-card-holder {
    .shop-card-titles-holder {
        color: $primary;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;

        .sub-title {
            padding-top: 60px;
            padding-bottom: 10px;
            font-size: 30px;
            font-weight: 300;
        }

        .shop-card-title {
            padding-bottom: 60px;
            font-size: 50px;
            font-weight: 400;
        }
    }

    .wp-block-group {
        .wc-block-grid__products {
            padding-left: 120px;
            padding-right: 120px;

            .wc-block-grid__product {
                span {
                    font-size: 16px;
                    color: black;
                }

                .wc-block-grid__product-link {
                    &:hover {
                        text-decoration: none;
                    }

                    .wc-block-grid__product-title {
                        color: $primary;
                        font-size: 20px;
                    }
                }

                .btn {
                    width: 100%;
                    color: $primary;
                    border: 2px solid $primary;
                    padding: 16px 25px;
                    margin-bottom: 20px;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 19.5px;

                    &:hover {
                        background-color: $primary;
                        color: white;
                    }
                }

                .added_to_cart {
                    color: $primary;
                    font-size: 20px;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }






    // .card-deck {
    //     padding-bottom: 80px;

    //     .card-img-top {
    //         height: 405px;
    //         width: 405px;
    //     }
    // }
}

// video card
.strap-video-holder {
    position: relative;
    background-color: black;
    position: relative;
    color: white;
    height: 762px !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    pointer-events: none;
    .video-bg {
        opacity: 0.6;
    }
    .video-foreground {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .video-title {
            padding-top: 250px;
            font-size: 80px;
            font-weight: 300;
            letter-spacing: 3.5;
        }
        .video-sub-title {
            font-size: 42px;
            padding-bottom: 200px;
            line-height: 54.6px;
        }
        .video-sub2-title {
            font-size: 20px;
            font-weight: 300;
            font-style: italic;
            letter-spacing: 1.5;
            line-height: 30px;
            padding-top: 80px;
        }
    }
}

// cta banner
.cta-banner-holder {
    font-family: "Nanum Myeongjo", Sans-serif;
    height: 700px;
    background-image: url("../img/cta.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;

    .cta-title {
        font-size: 70px;
        line-height: 91px;
        padding-bottom: 15px;
    }

    .cta-sub-title {
        font-size: 24px;
        line-height: 36px;
        padding-bottom: 170px;
    }
}

// reviews
.reviews-holder {
    color: $primary;
    text-align: center;

    .review-card-title {
        padding-top: 65px;
        padding-bottom: 20px;
        font-size: 35px;
        letter-spacing: 4px;
        line-height: 52.5px;
        text-transform: uppercase;
    }

    .reviews-sub-title {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 28.8px;
        padding-bottom: 60px;
    }

    .card-body {
        box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, .5);
        color: #333333;

        .card-review {
            margin-bottom: 20px;
        }

        .review-2 {
            font-size: 26px;
            line-height: 48.3px;
        }

        .review-3 {
            font-size: 21px;
            line-height: 35.3px;
        }

        .review-customer-holder {
            display: flex;
            justify-content: center;
            align-items: center;

            .review-customer-img {
                height: 60px;
                width: 60px;
                margin-right: 15px;

                img {
                    border-radius: 50%;
                }
            }

            .review-customer {
                .review-customer-name {
                    line-height: 22.5px;
                    font-size: 15px;
                }

                .review-customer-sub-line {
                    font-size: 12.75px;
                    line-height: 12.75px;
                }
            }

        }
    }
}

// worked with carousel
.worked-with-carousel {
    color: $primary;
    text-align: center;

    .worked-with-title {
        font-size: 35px;
        padding: 45px 0;
    }

    #carousel-dz {
        a {
            color: $primary;
            z-index: 100;
        }

        .carousel-caption {
            position: relative;
            display: flex;
            justify-content: center;
            left: 0;
            right: 0;
            bottom: 0;

            .worked-with-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                height: 160px;
                width: 160px;
                margin-left: 40px;
                margin-right: 40px;
            }
        }
    }
}

// covid banner
.covid-holder {
    color: $primary;
    text-align: center;

    .covid-title {
        font-weight: 600;
        font-size: 29px;
        line-height: 1.5;
        padding-bottom: 25px;
    }

    .covid-body {
        font-size: 14px;
    }
}
