// Hero img
.home-hero-banner-top {
  height: 625px;
  text-align: center;
  color: $home-header-font-color;
  letter-spacing: 1.5px;
  font-weight: 300;
  background-color: rgb(0, 0, 0);
  position: relative;

  @media (min-width: $sm) {
    height: 760px;
  }

  @media (min-width: $xl) {
    height: 1080px;
  }

  .mobile-bg {
    min-height: 625px;
    background: url("../img/a1.jpg") no-repeat center bottom;

    @media (min-width: $sm) {
      height: 760px;
    }

    @media (min-width: $md) {
      display: none;
    }
  }

  #dz-carousel {
    display: none;
    @media (min-width: $md) {
      display: block;
    }

    .carousel-item {
      animation: move infinite ease;
      -ms-animation: move 40s ease;
      -webkit-animation: move 40s ease;
      -o-animation: move 40s ease;
      -moz-animation: move 40s ease;

      @media (min-width: $sm) {
        height: 760px;
      }

      @media (min-width: $xl) {
        height: 1080px;
      }
    }

    .slide-1 {
      height: 625px;
      background: url("../img/a1.jpg") no-repeat center fixed;
      background-size: cover;

      @media (min-width: $sm) {
        height: 760px;
      }

      @media (min-width: $xl) {
        height: 1080px;
      }
    }

    .slide-2 {
      height: 625px;
      background: url("../img/a2.jpg") no-repeat center fixed;
      background-size: cover;

      @media (min-width: $sm) {
        height: 760px;
      }

      @media (min-width: $xl) {
        height: 1080px;
      }
    }

    .slide-3 {
      height: 625px;
      background: url("../img/cta.jpg") no-repeat center fixed;
      background-size: cover;

      @media (min-width: $sm) {
        height: 760px;
      }

      @media (min-width: $xl) {
        height: 1080px;
      }
    }

    @-webkit-keyframes move {
      0% {
        -webkit-transform-origin: bottom left;
        -moz-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        -o-transform-origin: bottom left;
        transform-origin: bottom left;
        transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
      }

      100% {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -moz-transform: scale(1.2);
      }
    }
  }

  .hero-captions-holder {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;

    @media (min-width: $sm) {
      top: 300px;
    }

    @media (min-width: $xl) {
      top: 400px;
    }

    .main-title {
      font-size: 42px;
      font-weight: 600;
      margin-top: 2rem;

      @media (min-width: $lg) {
        font-size: 60px;
        margin-top: 0;
      }

      @media (min-width: $xl) {
        font-size: 94.5px;
        line-height: 113.4px;
        padding-bottom: 95px;
      }
    }

    .sub-title {
      font-size: 20px;
      font-weight: 500;

      @media (min-width: $lg) {
        font-size: 25px;
      }

      @media (min-width: $xl) {
        font-size: 30px;
        line-height: 45px;
        padding-bottom: 20px;
      }
    }

    hr {
      border-color: white;

      @media (min-width: 460px) {
        padding-top: 15px;
        padding-bottom: 18px;
      }
    }

    .sub-2-title {
      font-size: 18.24px;
      font-weight: 500;
      padding-bottom: 15px;
      font-style: italic;

      @media (min-width: $lg) {
        font-size: 20px;
      }

      @media (min-width: $xl) {
        line-height: 20px;
        padding-bottom: 25px;
      }
    }

    .btn {
      width: 175px;
    }

    .sub-3-title {
      font-size: 18.24px;
      font-weight: 500;
      padding-top: 20px;
      font-style: italic;

      @media (min-width: $lg) {
        font-size: 20px;
      }

      @media (min-width: $xl) {
        line-height: 20px;
      }
    }

    .diamonds {
      visibility: hidden;
      color: white;
      font-size: 2rem;

      @media (min-width: 480px) {
        visibility: visible;
      }
    }
  }
}

// shop cards
.shop-card-holder {
  .shop-card-titles-holder {
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    .sub-title {
      font-size: 21px;
      padding-top: 60px;
      padding-bottom: 10px;
      font-weight: 300;
      @media (min-width: $md) {
        font-size: 30px;
      }
    }

    .shop-card-title {
      font-size: 35px;
      margin-bottom: 30px;
      @media (min-width: $md) {
        font-size: 50px;
        padding-bottom: 60px;
      }
    }
  }

  .wp-block-group {
    .wc-block-grid__products {
      flex-direction: column;

      @media (min-width: 600px) {
        flex-direction: row;
      }
      @media (min-width: $xl) {
        padding-left: 120px;
        padding-right: 120px;
      }

      .wc-block-grid__product {
        @media (min-width: 481px) and (max-width: 600px) {
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
        span {
          font-size: 16px;
          color: black;
        }

        .wc-block-grid__product-link {
          &:hover {
            text-decoration: none;
          }

          .wc-block-grid__product-title {
            color: $primary;
            font-size: 20px;
          }
        }

        img {
          width: 100% !important;
        }

        .btn {
          // width: 100%;
          color: $primary;
          border: 2px solid $primary;
          padding: 16px 25px;
          margin-bottom: 20px;
          font-weight: 700;
          font-size: 20px;
          line-height: 19.5px;

          &:hover {
            background-color: $primary;
            color: white;
          }
        }

        .added_to_cart {
          color: $primary;
          font-size: 20px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

// video card
.strap-video-holder {
  display: none !important;
  position: relative;
  background-image: url("../img/about-lantern.jpg");
  background-size: cover;
  position: relative;
  color: white;
  font-weight: 500;
  height: 762px;
  overflow: hidden;
  display: flex;
  align-items: center;
  pointer-events: none;
  @media (min-width: $xl) {
    display: flex !important;
  }

  .embed-responsive {
    opacity: 0.6;
  }

  .video-foreground {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;

    .video-title {
      padding-top: 250px;
      font-size: 80px;
      font-weight: 600;
      letter-spacing: 3.5;
    }

    .video-sub-title {
      font-size: 42px;
      padding-bottom: 200px;
      line-height: 54.6px;
    }

    .video-sub2-title {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      letter-spacing: 1.5;
      line-height: 30px;
      padding-top: 80px;
    }
  }
}

.main-green {
  height: 40px;
  background-color: $primary;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  @media (min-width: $xl) {
    display: none;
  }
}

// cta banner
.cta-banner-holder {
  font-family: "Nanum Myeongjo", Sans-serif;
  background-image: url("../img/cta.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;

  .cta-title {
    margin-top: 100px;
    font-size: 50px;
    padding-bottom: 15px;
    font-weight: 600;

    @media (min-width: $lg) {
      font-size: 70px;
    }
  }

  .cta-sub-title {
    font-size: 18px;
    padding-bottom: 60px;

    @media (min-width: $lg) {
      font-size: 24px;
      line-height: 36px;
      padding-bottom: 120px;
    }
  }

  button {
    font-size: 18px;
    margin-bottom: 80px;
  }
}

// reviews
.reviews-holder {
  color: $primary;
  text-align: center;

  .review-card-title {
    padding-top: 65px;
    padding-bottom: 20px;
    font-size: 35px;
    letter-spacing: 4px;
    line-height: 52.5px;
    text-transform: uppercase;
  }

  .reviews-sub-title {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28.8px;
    padding-bottom: 60px;
  }

  .card-deck {
    display: flex;
    flex-direction: column;

    @media (min-width: $xl) {
      flex-direction: row;
    }

    .card-body {
      box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.5);
      color: #333333;

      @media (min-width: $sm) {
        margin-bottom: 15px;
      }

      .card-review {
        margin-bottom: 20px;
      }

      .review-2 {
        font-size: 26px;
        line-height: 48.3px;
      }

      .review-3 {
        font-size: 21px;
        line-height: 35.3px;
      }

      .review-customer-holder {
        display: flex;
        justify-content: center;
        align-items: center;

        .review-customer-img {
          height: 60px;
          width: 60px;
          margin-right: 15px;

          img {
            border-radius: 50%;
          }
        }

        .review-customer {
          .review-customer-name {
            line-height: 22.5px;
            font-size: 15px;
          }

          .review-customer-sub-line {
            font-size: 12.75px;
            line-height: 12.75px;
          }
        }
      }
    }
  }
}

// worked with carousel
.worked-with-carousel {
  display: none;
  background-color: $primary;
  color: white;
  text-align: center;

  @media (min-width: $md) {
    display: block;
  }

  .worked-with-title {
    font-size: 35px;
    padding: 45px 0;
  }

  #carousel-dz {
    .carousel-inner {
      background-color: whitesmoke;

      a {
        color: $primary;
        z-index: 100;
      }

      .carousel-caption {
        position: relative;
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        bottom: 0;

        .worked-with-logo {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px;
          height: 160px;
          width: 160px;
          margin-left: 40px;
          margin-right: 40px;
        }
      }
    }
  }
}
