#woocommerce-wrapper {
    background-color: #eeeeee;

    @media(min-width: $lg) {
        padding-top: 60px;
        padding-left: 45px;
        padding-right: 45px;
    }

    #left-sidebar {
        display: none;
        border-right: 1px solid rgb(230, 230, 230);

        @media(min-width: $xl) {
            padding-right: 30px;
            display: block;
        }

        .widget_product_search {
            margin-bottom: 42px;

            .btn {
                font-size: 15px;
                background-color: transparent;
                color: $primary;

                padding: 0 10px;
                border: none;

                &:hover {
                    background-color: $primary;
                    color: white;
                }
            }
        }

        .widget_product_categories {
            margin-bottom: 42px;

            .widget-title {
                margin-bottom: 17px;
                font-size: 24px;
            }
        }

        .widget_price_filter {
            visibility: hidden;

            .price_slider {
                .ui-slider-range {
                    background-color: $primary;
                }
            }
        }
    }

    #primary {
        :focus {
            box-shadow: none;
        }
        @media(min-width: $xl) {
            padding-left: 40px;
            border-left: 1px solid rgb(230, 230, 230);
        }

        .woocommerce-ordering {
            float: none;

            @media(min-width: $xl) {
                float: right;
            }
        }

        .products {
            h2 {
                color: black;
            }

            .price {
                color: black;
            }

            .add-to-cart-container {
                text-align: center;

                .add_to_cart_button {
                    color: white;
                    background-color: $primary;
                    border-color: $primary;
                    font-weight: 600;
                    border-width: 2px;

                    &:hover {
                        color: $primary;
                        background-color: white;
                    }
                }

                .added_to_cart {
                    color: $primary;
                }
            }
        }

        .woocommerce-pagination {
            text-align: left;

            .page-numbers {
                li {

                    .current,
                    a {
                        color: $primary;
                    }
                }
            }
        }
    }
}