// base store page
#woocommerce-wrapper {
    background-color: #eeeeee;

    @media(min-width: $lg) {
        padding-top: 60px;
        padding-left: 45px;
        padding-right: 45px;
    }

    #left-sidebar {
        display: none;
        border-right: 1px solid rgb(230, 230, 230);

        @media(min-width: $xl) {
            padding-right: 30px;
            display: block;
        }

        .widget_product_search {
            margin-bottom: 42px;

            .btn {
                font-size: 15px;
                background-color: transparent;
                color: $primary;

                padding: 0 10px;
                border: none;

                &:hover {
                    background-color: $primary;
                    color: white;
                }
            }
        }

        .widget_product_categories {
            margin-bottom: 42px;

            .widget-title {
                margin-bottom: 17px;
                font-size: 24px;
            }
        }

        .widget_price_filter {
            visibility: hidden;

            .price_slider {
                .ui-slider-range {
                    background-color: $primary;
                }
            }
        }
    }

    #primary {
        :focus {
            box-shadow: none;
        }

        @media(min-width: $xl) {
            padding-left: 40px;
            border-left: 1px solid rgb(230, 230, 230);
        }

        .woocommerce-ordering {
            float: none;

            @media(min-width: $xl) {
                float: right;
            }
        }

        .products {
            h2 {
                color: black;
            }

            .price {
                color: black;
            }

            .add-to-cart-container {
                text-align: center;

                .add_to_cart_button {
                    color: white;
                    background-color: $primary;
                    border-color: $primary;
                    font-weight: 600;
                    border-width: 2px;

                    &:hover {
                        color: $primary;
                        background-color: white;
                    }
                }

                .added_to_cart {
                    color: $primary;
                }
            }
        }

        .woocommerce-pagination {
            text-align: left;

            .page-numbers {
                li {

                    .current,
                    a {
                        color: $primary;
                    }
                }
            }
        }
    }
}

// temp single product page
.single-product {
    .site {
        background-color: #eeeeee;

        .wrapper {
            margin-left: auto;
            margin-right: auto;
            padding-left: 20px;
            padding-right: 20px;

            .widget-area {
                display: none !important;
            }

            #primary {
                margin-left: auto;

                @media(min-width: $sm) {
                    max-width: 100%;
                }

                @media(min-width: $md) {
                    max-width: 1440px;
                }

                .woocommerce-breadcrumb {
                    display: none;
                }

                .summary {
                    margin-top: 150px;

                    bdi {
                        color: black;
                    }

                    .qty {
                        height: 36px;
                    }

                    .single_add_to_cart_button {
                        background-color: $primary;
                        color: white;

                        &:hover {
                            color: $primary;
                            background-color: white;
                        }
                    }
                }

                .up-sells {
                    h2 {
                        clear: both;
                        font-size: 22.5px;
                        margin-bottom: 16px;
                    }
                }

                .related {
                    h2 {
                        font-size: 22.5px;
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
}

// cart page 
.page-id-19 {
    background-color: #eeeeee;

    #primary {
        .entry-header {
            text-align: center;
        }

        .entry-content {

            .woocommerce-message {
                border-top-color: $primary;

                &::before {
                    color: $primary;
                }
            }

            .woocommerce-info {
                border-top-color: $primary;

                &::before {
                    color: $primary;
                }
            }



            .return-to-shop {
                .btn {
                    color: $primary;
                    border-color: $primary;
                    &:active {
                        background-color: $primary;
                        color: white;
                    }
                    &:focus {
                        box-shadow: 0 0 0 0.2rem #274d3578;
                    }
                }
            }

            .product-name {
                a {
                    color: $primary;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .cart_totals {
                .btn {
                    background-color: $primary;
                    border: none;
                    font-weight: 600;
                    text-transform: capitalize;

                    &:hover {
                        background-color: white;
                        color: $primary;
                    }
                }
            }
        }
    }
}